#My-name{
    color: aqua;
    background-color: dodgerblue;
}

img{
    width: 400px;
    height: 300px;
}

#thirdDiv{
    background-color: dodgerblue;
    padding: 50px;
    border: 10px solid aqua;
    height: 600px;
    width: 500px
}

#spanId{
    font-size: 18px;
    color: dodgerblue;
    margin: 50px;
}